@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h2>Yazar Düzenleme Sayfası</h2>
@using (Html.BeginForm("EditForm","Writer",FormMethod.Post))
 {
    <div class="form-group"></div>
 }
