
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del> </p>
<p>#2 Tüm Başlıklarda Paging </p>
<p>#3 Mesajda Session </p>
<p>#3 Token Kullanımı </p>
<p>#3 Mesajda Session </p>

